.grid-wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    
}

.grid {
    width: 90vw; /* 90% of viewport width */
    max-width: 500px; /* Limit for larger screens */
    aspect-ratio: 1 / 1; /* Makes it a perfect square */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.turn-highlight{
    color: white;
}


.reset{
    cursor: pointer;
    padding: 0.3rem;
    width: 10rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 10rem;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .turn-highlight, .reset {
      font-size: 1rem;
    }
  }
  